doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/bootstrap/css/bootstrap.css' rel='stylesheet')
  link(href='/styles.css' rel='stylesheet')
  script(src='/bootstrap/js/bootstrap.js')
  script(src='/pop.js')
  title Vehicle Registration
div
 
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.nav-link.nav-item(href='/home') Home
      a.nav-link.nav-item(href='/battery') Add Battery
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.nav.me-auto.mb-2.mb-lg-0
          li.nav-item.dropdown
            
        // This is the logout button
        form.d-flex
          button.btn.btn-outline-success.logout-button(type='submit' onclick="window.print()" style='margin-right:200px; border-color:#222d41;') Print Report
          a.btn.btn-outline-success.logout-button(href='/' style='border-color:#222d41;') Logout
  // End of the nav bar
  .container.py-5.h-100
    .container.row.justify-content-center
      .card.bg-light
        table.table
          thead.thead-dark
            tr
              th(scope='col' class='th') Date
              th(scope='col' class='th') Battery Size
              th(scope='col' class='th') Amount
              
          tbody
            if batteries.length 
            each battery in batteries 
             tr     
              td(class='td') #{battery.date}
              td(class='td') #{battery.battery}
              td(class='td') #{battery.amount} 
              td
          
                div
                    a(href='/updatebattery/'+battery._id )
                      button.btn.btn-primary(type='button'  data-bs-target='#staticBackdrop' style='background-color:#f1f1f1; margin-right: 5px;')
                          img(src='../images/edit4.png' style='width: 20px; height: 20px;')
                
                          form(method="GET" action="/deleteBattery/"+battery._id)
                            input(type="hidden" name="delete" value=battery._id)
                            button.btn.btn-danger(type='submit' data-bs-toggle='modal' onclick='confirmAction()' data-bs-target='#staticBackdrop')
                              img(src='../images/delete-332.png' style='width: 20px; height: 20px;')

        table.table
            thead.thead-dark
              tr
              
                th(scope='col' class='th')
                th(scope='col' class='th') 
                th(scope='col' class='th')
                th(scope='col' class='th') 
                th(scope='col' class='th') 
                th(scope='col' class='th')   
                th(scope='col' class='th') Total Amount
                th(scope='col' class='th') #{new Intl.NumberFormat().format(total.totalBattery)}Ugx