doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/bootstrap/css/bootstrap.css' rel='stylesheet')
  link(href='/styles.css' rel='stylesheet')
  script(src='/bootstrap/js/bootstrap.js')
  title Vehicle Registration
div
 
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.nav-link.nav-item(href='/home') Home
      a.nav-link.nav-item(href='/tyre') Add Tyre
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.nav.me-auto.mb-2.mb-lg-0
          li.nav-item.dropdown
            
        // This is the logout button
        form.d-flex
          button.btn.btn-outline-success.logout-button(type='submit' onclick="window.print()" style='margin-right:200px; border-color:#222d41;') Print Report
          a.btn.btn-outline-success.logout-button(href='/' style='border-color:#222d41;') Logout
  // End of the nav bar
  .container.py-5.h-100
    .container.row.justify-content-center
      .card.bg-light
        table.table
          thead.thead-dark
            tr
              th(scope='col' class='th') Date
              th(scope='col' class='th') Tyre
              th(scope='col' class='th') Tyre Size
              th(scope='col' class='th') Car model
              th(scope='col' class='th') Tyre Pressure
              th(scope='col' class='th') Tyre puncture
              th(scope='col' class='th') Valves
              th(scope='col' class='th') Tyre Price
              
          tbody
            if tyres.length 
            each tyre in tyres
             tr     
              td(class='td') #{tyre.date}
              td(class='td') #{tyre.tyre}
              td(class='td') #{tyre.tyresize}
              td(class='td') #{tyre.carmodel}
              td(class='td') #{tyre.tyrepressure}
              td(class='td') #{tyre.puncture}
              td(class='td') #{tyre.valves}
              td(class='td') #{tyre.amount}
              td
          
                 div
                      button.btn.btn-primary(type='submit'  data-bs-target='#staticBackdrop' style='background-color:#f1f1f1; margin-right: 5px;')
                        img(src='../images/edit4.png' style='width: 20px; height: 20px;')

                    
                      button.btn.btn-danger(type='submit' data-bs-toggle='modal' data-bs-target='#staticBackdrop')
                        img(src='../images/delete-332.png' style='width: 20px; height: 20px;')
                    
                      #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
                        .modal-dialog
                          .modal-content
                            .modal-header
                              h5#staticBackdropLabel.modal-title Delete Vehicle
                              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                              | Confirm delete
                            .modal-footer
                              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                              form(method="GET" action="/deleteTyre/"+tyre._id)
                                input(type="hidden" name="delete" value=tyre._id)
                                button.btn.btn-danger(type='submit' data-bs-toggle='modal' data-bs-target='#staticBackdrop') Delete
                      
