doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/bootstrap/css/bootstrap.css' rel='stylesheet')
  link(href='/styles.css' rel='stylesheet')
  script(src='/bootstrap/js/bootstrap.js')
  script(src='/pop.js')
  title Vehicle Registration
div
 
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.nav-link.nav-item(href='/home') Home
      a.nav-link.nav-item(href='/vehicleReg') Add Vehicle/Boda Boda
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.nav.me-auto.mb-2.mb-lg-0
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.nav-item.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Generate Report
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='/signoffReport') Sign-off Report
        // This is the logout button
        form.d-flex
          button.btn.btn-outline-success.logout-button(type='submit' onclick="window.print()" style='margin-right:200px; border-color:#222d41;') Print Report
          a.btn.btn-outline-success.logout-button(href='/' style='border-color:#222d41;') Logout
  // End of the nav bar
  .container.py-5.h-100
    .container.row.justify-content-center
      .card.bg-light
        table.table
          thead.thead-dark
            tr
              
              th(scope='col' class='th') Entry Date
              th(scope='col' class='th') Entry Time
              th(scope='col' class='th') Type of Vehicle
              th(scope='col' class='th') Number Plate
              th(scope='col' class='th') Parking Period
              th(scope='col' class='th') Driver Name
              th(scope='col' class='th') Amount
             


          tbody
            
            if registers.length 
            each register in registers
             tr 
             
              td(class='td') #{register.entrydate}  
              td(class='td') #{register.entrytime}   
              td(class='td') #{register.carmodel}
              td(class='td') #{register.numberplate}
              td(class='td') #{register.parkingtime}
              td(class='td') #{register.drivername}
              td(class='td') #{register.amount}

              td 

                  div
                    a(href='/update/'+register._id )
                      button.btn.btn-primary(type='button'  data-bs-target='#staticBackdrop' style='background-color:#f1f1f1; margin-right: 5px;')
                          img(src='../images/edit4.png' style='width: 20px; height: 20px;')
                
                          form(method="GET" action="/deleteVehicle/"+register._id)
                            input(type="hidden" name="delete" value=register._id)
                            button.btn.btn-danger(type='submit' data-bs-toggle='modal' onclick='myFunction()' data-bs-target='#staticBackdrop')
                              img(src='../images/delete-332.png' style='width: 20px; height: 20px;')
                  
        table.table
          thead.thead-dark
            tr
              
              th(scope='col' class='th')
              th(scope='col' class='th') 
              th(scope='col' class='th')
              th(scope='col' class='th') 
              th(scope='col' class='th') 
              th(scope='col' class='th')   
              th(scope='col' class='th') Total Amount
              th(scope='col' class='th') #{new Intl.NumberFormat().format(total.totalParking)}Ugx
